:root {
    --bg-color: #f4f4f4;
    --nav-and-side-color: #e0e0e0;
    --title-color: #111;
    --text-color: #333;
    --completed: #22c55e;
    --high-priority: #dc2626;
    --low-priority: #2563eb;
    --edit-btn: rgba(16, 185, 129, 0.7);
    --delete-btn: rgba(239, 68, 68, 0.7);   
    --complete-btn: rgba(59, 131, 246, 0.7);  
}

[data-theme="dark"] {
    --bg-color: #121212;
    --nav-and-side-color: #1E1E2F;
    --title-color: #F2F2F2;
    --text-color: #CCCCCC;
    --completed: #4ADE80;
    --high-priority: #EF4444;
    --low-priority: #3B82F6;
    --edit-btn: rgba(52, 211, 153, 0.7); 
    --delete-btn: rgba(248, 113, 113, 0.7);  
    --complete-btn: rgba(96, 165, 250, 0.7); 
}


*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
    "sidebar nav"
    "sidebar hero";
    height: 100vh;
    margin: 0;
}

.listmodal, .taskmodal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.listmodal.hidden, .taskmodal.hidden {
    display: none;
}

.listmodal-content, .taskmodal-content{     
    background-color: var(--nav-and-side-color);
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    color: var(--text-color);
}

.listmodal-content h2, .taskmodal-content h2{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 5px;
}

.listmodal-content input, .taskmodal-content input{
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 10px;
    border: 0px;
    margin-bottom: 15px;
}

.taskmodal-content select{
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 10px;
    border: 0px;
}

.listmodal-content button, .taskmodal-content button{
    font-size: 1.1rem;
    background-color: var(--bg-color);
    padding: 2px 8px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 10px;
    box-shadow: 3px 2px 1px var(--title-color);
    cursor: pointer;        
    margin-right: 5px;
    transition: 0.1s;
}

.listmodal-content button:active, .taskmodal-content button:active{
    transform: translate(2px, 1px);
    box-shadow: 1px 1px 1px var(--title-color);
}


.sidebar{
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    background-color: var(--nav-and-side-color);
    border: 1px solid var(--text-color);
    border-right: 0;
    overflow-y: scroll;
}

nav{
    grid-area: nav;
    background-color: var(--nav-and-side-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--text-color);
    border-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}

.hero{
    grid-area: hero;
    background-color: var(--bg-color);
    border: 1px solid var(--text-color);
}

.search-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
}

.search-wrapper input{
    min-width: 400px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;
}       

.displaymode button, .theme button{
    border: 0;
    padding: 3px 15px;
    border-radius: 10px;
    color: var(--text-color);
    background-color: var(--bg-color);
    cursor: pointer;
}

.displaymode, .theme{
    background-color: var(--bg-color);
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}

nav .activated-btn{
    background-color: var(--text-color);
    color: var(--bg-color);
}

ul{
    list-style: none;
    margin-bottom: 20px;
}

h2{
    font-weight: 500;
    color: var(--title-color);
}

li{
    font-weight: 200;
    padding: 10px;
    transition: 0.4s;
    color: var(--text-color);
    cursor: pointer;
    border: 2px solid transparent;
}

li:hover, .activatedList{
    border: 2px solid var(--title-color);
}

.sidebar h1{
    display: flex;
    justify-content: center;
    margin: 50px 0;
    font-weight: 400;
    width: 100%;
    color: var(--title-color);
}

.sidebar-wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 5px;
}

.title-wrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-between;
    margin-right: 20px;
}

.title-wrapper button{
    border: 1px solid var(--title-color);
    background-color: transparent;
    border-radius: 25%;
    padding: 5px 8px;
    font-size: 1rem;
    color: var(--title-color);
    box-shadow: 3px 3px 1px var(--title-color);
    transition: 0.1s;
    cursor: pointer;
}

.title-wrapper button:active{
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 1px var(--title-color);
}

.edit{
    margin-left: 10px;
    margin-right: 5px;
}

.edit, .remove{
    font-size: 1rem;
    background-color: var(--bg-color);
    padding: 2px 8px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 10px;
    box-shadow: 3px 2px 1px var(--title-color);
    cursor: pointer;        
    margin-right: 10px;
    transition: 0.1s;
}

.edit:active, .remove:active{
    transform: translate(2px, 1px);
    box-shadow: 1px 1px 1px var(--title-color);
}

.hero{
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.hero-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1{
    font-size: 3rem;
    font-weight: 100;
    margin-top: 10px;
    color: var(--title-color);
}

.hero p{
    color: var(--text-color);
}

.taskbutton{            
    margin: 10px;
    background-color: var(--bg-color);
    padding: 10px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 10px;
    box-shadow: 3px 3px 1px var(--title-color);
    cursor: pointer;
    transition: 0.1s;
}

.taskbutton:active{
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 1px var(--title-color);
}

.taskContainer{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

.miniTaskContainer{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    border: 1px solid var(--title-color);
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 8px;
    width: 90%;     
}

.taskTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem auto;
    width: 90%;
}

.taskTitle h3{
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--title-color);
}

.task p {
    margin: 5px;
    font-size: 0.95rem;
    color: var(--text-color);
}

.editTask, .deleteTask, .completeTask{
    background-color: var(--bg-color);
    padding: 10px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 10px;
    box-shadow: 3px 3px 1px var(--title-color);
    cursor: pointer;
    transition: 0.1s;
}

.editTask:hover{
    background-color: var(--edit-btn);
}

.deleteTask:hover{
    background-color: var(--delete-btn);
}

.completeTask:hover{
    background: var(--complete-btn);
}

.editTask:active, .deleteTask:active, .completeTask:active{
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 1px var(--title-color);
}

.completedCrossedOut h3, .completedCrossedOut p{
    text-decoration: line-through;
}








